<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'View grade list', grades_path %></li>
  <li class="active"><%= link_to 'New grade', new_grade_path %></li>
  <li><%= link_to 'View method list', writing_methods_path %></li>
  <li><%= link_to 'New method', new_writing_method_path %></li>
</ul>

<%= render 'form' %>
