<tr>
    <td><%= content.id %></td>
    <td><%= content.content %></td>
    <td><%= content.content_in_khmer %></td>
    <td><%= link_to 'Edit', edit_grade_lesson_writing_method_content_path(@grade, @lesson, @method, content) %></td>
    <td><%= link_to 'Destroy', grade_lesson_writing_method_content_path(@grade, @lesson, @method, content),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></td>
  </tr>
