<div class="field form-group">
  <%= f.label 'រូបភាព (គួរតែ 250px * 300px)', class: 'col-sm-3 control-label' %>
  <div class="col-sm-6">
    <%= f.file_field :image %>
  </div>
</div>

<div class="field form-group">
  <%= f.label 'រូបភាពគន្លឹះ (គួរតែ 450px * 350px)', class: 'col-sm-3 control-label' %>
  <div class="col-sm-6">
    <%= f.file_field :image_clue %>
  </div>
</div>

<div class="field form-group">
  <%= f.label 'រូបភាពចំលើយ (គួរតែ 250px * 300px)', class: 'col-sm-3 control-label' %>
  <div class="col-sm-6">
    <%= f.file_field :image_answer %>
  </div>
</div>
