<div class="field form-group">
  <%= f.label 'រូបភាព (គួរតែ 250px * 300px)', class: 'col-sm-3 control-label' %>
  <div class="col-sm-6">
    <%= f.file_field :image , :id => 'image'%>
    <%= image_tag @image_url, :id => 'displayImage', :style => 'width: 20%;' %>
  </div>
</div>

<div class="field form-group">
  <%= f.label 'រូបភាពគន្លឹះ (គួរតែ 450px * 350px)', class: 'col-sm-3 control-label' %>
  <div class="col-sm-6">
    <%= f.file_field :image_clue, :id => 'imageClue' %>
    <%= image_tag @image_clue_url, :id => 'displayImageClue', :style => 'width: 20%;' %>
  </div>
</div>

<div class="field form-group">
  <%= f.label 'រូបភាពចំលើយ (គួរតែ 250px * 300px)', class: 'col-sm-3 control-label' %>
  <div class="col-sm-6">
    <%= f.file_field :image_answer , :id => 'imageAnswer'%>
    <%= image_tag @image_answer_url, :id => 'displayImageAnswer', :style => 'width: 20%;' %>
  </div>
</div>
