<div class="field form-group">
  <%= f.label 'រូបភាព', class: 'col-sm-2 control-label' %>
  <div class="col-sm-6">
    <%= f.file_field :image %>
  </div>
</div>

<div class="field form-group">
  <%= f.label 'រូបភាពគន្លឹះ', class: 'col-sm-2 control-label' %>
  <div class="col-sm-6">
    <%= f.file_field :image_clue %>
  </div>
</div>

<div class="field form-group">
  <%= f.label 'រូបភាពចំលើយ', class: 'col-sm-2 control-label' %>
  <div class="col-sm-6">
    <%= f.file_field :image_answer %>
  </div>
</div>
