<%= form_for [@lesson, @content]  do |f| %>
  <% if @content.errors.any? %>
    <div class="alert alert-danger">
      <ul>
      <% @content.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label 'ខ្លឹមសារ', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= f.text_field :content, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label 'ខ្លឹមសារជាខ្មែរ', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= f.text_field :content_in_khmer, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label 'វិធីសាស្រ្ត', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= f.select :writing_method_id, options_for_select(WritingMethod.all.collect{|m| [m.name,m.id]}, selected: @methodId), {},  {class: 'form-control', disabled: true} %>
    </div>
  </div>

  <%= render content_elements(@methodId), f: f %>

  <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit 'រក្សាទុក', class: 'btn btn-primary'%>
      <%= f.submit "បោះបង់", :type => "reset", class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
