<script type="text/javascript">
  $(function(){
    var $imageElement = document.getElementById("image");
    var $imageClueElement = document.getElementById("imageClue");
    var $imageAnswerElement = document.getElementById("imageAnswer");
    var $image = document.getElementById("displayImage");
    var $imageClue = document.getElementById("displayImageClue");
    var $imageAnswer = document.getElementById("displayImageAnswer");

    function showImage(imageParam, element){
      if(imageParam){
        var reader = new FileReader();
        reader.onload = function (e) {
          imageParam.src = e.target.result;
        };
        reader.readAsDataURL(element.files[0]);
      }
    }

    if($imageElement){
      $imageElement.onchange = function () {
        showImage($image, this);
      };
    }

    if($imageClueElement){
      $imageClueElement.onchange = function(){
        showImage($imageClue, this);
      }
    }

    if($imageAnswerElement){
      $imageAnswerElement.onchange = function(){
        showImage($imageAnswer, this);
      }
    }
  });
</script>

<%= form_for [@lesson, @content]  do |f| %>
  <% if @content.errors.any? %>
    <div class="alert alert-danger">
      <ul>
      <% @content.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= hidden_field_tag :writing_method_id, @methodId %>
  <div class="field form-group">
    <%= f.label 'ខ្លឹមសារ', class: 'col-sm-3 control-label' %>
    <div class="col-sm-6">
      <%= f.text_field :content, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label 'ខ្លឹមសារជាខ្មែរ', class: 'col-sm-3 control-label' %>
    <div class="col-sm-6">
      <%= f.text_field :content_in_khmer, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label 'វិធីសាស្រ្ត', class: 'col-sm-3 control-label' %>
    <div class="col-sm-6">
      <%= f.select :writing_method_id, options_for_select(WritingMethod.all.collect{|m| [m.name,m.id]}, selected: @methodId), {},  {class: 'form-control', readonly: true} %>
    </div>
  </div>

  <%= render content_elements(@methodId), f: f %>
  <br>

  <div class="actions form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.submit 'រក្សាទុក', class: 'btn btn-primary'%>
      <%=link_to 'បោះបង់', lesson_contents_path(writing_method_id: @methodId), data: { confirm: 'តើអ្នកប្រាកដជាចង់ចាកចេញមែនរឺទេ?' }, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
