<tr>
  <td><%= lesson.name %></td>
  <td><%= lesson.khmer_numeric %></td>
  <td><%= link_to 'បង្ហាញ', grade_lesson_path(@grade, lesson) %></td>
  <td><%= link_to 'កែសម្រួល', edit_grade_lesson_path(@grade, lesson) %></td>
  <td><%= link_to 'លុប', grade_lesson_path(@grade, lesson),
          method: :delete,
          data: { confirm: 'Are you sure?' } %></td>
</tr>
