<%= form_for @method do |f| %>
  <div class="field form-group">
    <%= f.label 'ឈ្មោះវិធីសាស្រ្ត', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label 'កូដសំគាល់', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= f.text_field :code, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label 'រូបតំនាង', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= f.text_field :icon, class: 'form-control' %>
    </div>
  </div>

  <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <%= f.submit 'រក្សាទុក', class: 'btn btn-primary'%>
      <%= f.submit "បោះបង់", :type => "reset", class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
